html {
  scroll-behavior: smooth;
}

section {
  padding-top: 70px;
}
/*Estilos generales*/

footer {
  background-color: #000;
  color: #fff;
}

/* inicio */
.text h1 {
  color: #fff;
  font-size: 2.5rem;
  cursor: context-menu;
  font-size: calc(1.5em + 1vw);
}

.text span {
  display: inline-block;
}

span:hover {
  color: #00e7c4;
  transition: all 0.4s;
  transform: scaleY(1.3);
}

span.l-name {
  color: #ed5565;
}

span.letra {
  margin-left: -8px;
}

/* otros etilos que ya no me acuerdo de donde eran */
.me-css {
  background-color: rgba(240, 255, 255, 0.904);
}

.img-css {
  width: 140px;
  height: 150px;
  margin: auto;
}

.img-css-iconos {
  width: 20px;
  height: 20px;
  margin: auto;
}

.images_habilidades {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 10%;
  cursor: pointer;
}

/* Estilos del pie de pagina */
.footer-css {
  margin-top: 5%;
}

.footer-img {
  width: 35px;
  height: 35px;
  padding: 0px;
  margin: 25px;
}

.navbar {
  background-color: #000;
}

.section1 {
  background-color: #000;
}

.link {
  background: #000;
  line-height: 3;
  padding: 0 1em;
  position: relative;
}

.link::before {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: #00e7c4;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
}

.link:hover::before {
  width: 100%;
}

.number-link {
  color: #000;
}

.number-link:hover {
  text-decoration: none;
}

.card {
  border: none;
}

.card:hover {
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.418) 0px 25px 50px -12px;
  background-color: none;
  border-radius: 10%;
}

.icon-sharkae {
  width: 140px;
  height: auto;
}

.icon-semin {
  width: 250px;
  height: auto;
}

.text-experience {
  margin-top: 35px;
  padding: auto;
}

.titles {
  color: #00e7c4;
}

.wave {
  border-style: none;
}
